<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cncd.first">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.First">
        <activity
            android:name=".UIs.BaselineQuestionnaireRecruitment4Activity"
            android:exported="true" />
        <activity
            android:name=".UIs.BaselineQuestionnaireRecruitment3Activity"
            android:exported="true" />
        <activity
            android:name=".UIs.BaselineQuestionnaireRecruitment2Activity"
            android:exported="true" />
        <activity
            android:name=".UIs.BaselineQuestionnaireRecruitmentActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.TypeTwoDiabetesControlExcluIncluCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.NAFLDControlExcluIncluCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.StrokeControlExcluIncluCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.HfControlExcIncCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.MIControlExclusionInclusionCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.TypeTwoDiabetesExcluIncluCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.NAFLDCaseExcluIncluCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.StrokeCaseExcluIncluCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.HfCaseExcIncCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.MICaseExclusionInclusionCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.RecruitmentGeneralExclusionAndSpecificDiseaseActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.FamilySheetActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.CallBackForm4Activity"
            android:exported="true" />
        <activity
            android:name=".UIs.CallBackForm3Activity"
            android:exported="true" />
        <activity
            android:name=".UIs.CallBackForm2Activity"
            android:exported="true" />
        <activity
            android:name=".UIs.CallBackFormActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.PGRFormActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UIs.MainActivity"
            android:exported="true" />
    </application>

</manifest>