<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cncd.first">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.First"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize">
        <activity
            android:name=".UIs.MyFormsActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.PdfReportActivity"
            android:exported="true">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity
            android:name=".UIs.BaselineQuestionnaireRecruitment4Activity"
            android:exported="true" />
        <activity
            android:name=".UIs.BaselineQuestionnaireRecruitment3Activity"
            android:exported="true" />
        <activity
            android:name=".UIs.BaselineQuestionnaireRecruitment2Activity"
            android:exported="true" />
        <activity
            android:name=".UIs.BaselineQuestionnaireRecruitmentActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.TypeTwoDiabetesControlExclusionInclusionCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.NAFLDControlExclusionInclusionCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.StrokeControlExclusionInclusionCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.HfControlExclusionInclusionCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.MIControlExclusionInclusionCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.TypeTwoDiabetesExclusionInclusionCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.NAFLDCaseExclusionInclusionCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.StrokeCaseExclusionInclusionCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.HfCaseExclusionInclusionCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.MICaseExclusionInclusionCriteriaActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.RecruitmentGeneralExclusionAndSpecificDiseaseActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.FamilySheetActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.CallBackForm4Activity"
            android:exported="true" />
        <activity
            android:name=".UIs.CallBackForm3Activity"
            android:exported="true" />
        <activity
            android:name=".UIs.CallBackForm2Activity"
            android:exported="true" />
        <activity
            android:name=".UIs.CallBackFormActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.PGRFormActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".UIs.SplashActivity"
            android:exported="true">

             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity
            android:name=".UIs.MainActivity"
            android:exported="true">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>